<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Талоны</title>
</head>
<body>
    <nav>
        <a href="/">Главная</a>
    </nav>
    <h2>Добавить талон:</h2>
    <form method="POST">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <input type="submit" value="Добавить">
    </form>
    <h2>Список талонов в системе:</h2>
    <table>
        <tr><th>Id</th><th>Фамилия</th><th>Имя</th><th>Отчество</th><th>Специальность</th></tr>
        {% for doctor in doctors %}
        <tr>
            <td><i>{{ doctor.id }}</i></td>
            <td><i>{{ doctor.surname }}</i></td>
            <td><i>{{ doctor.name }}</i></td>
            <td><i>{{ doctor.patronymic }}</i></td>
            <td><i>({% for specDoctor in specDoctors %}{% if specDoctor.id == doctor.specDoctor %}{{specDoctor.name}}{% endif %}{% endfor %})</i></td>
        </tr>
        <tr>
            <table>
                {% for ticket in tickets %}
                {% if ticket.docID == doctor.id %}
                <tr>
                    <td> |</td>
                    <td>{{ ticket.time }}</td>
                    {% if ticket.isBusy %}
                    <td>Занято</td>
                    {% else %}
                    <td>Свободно</td>
                    {% endif %}
                    <td>|</td>
                    <td><a href="../delTicket/{{ticket.id}}">Удалить</a></td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </tr>
        {% endfor %}
    </table>

</body>
</html>