<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Кабинет врача</title>
</head>
<body>
    <nav>
        <a href="/">Главная</a>
    </nav>
    <h2>Личные данные врача:</h2>
    <form method="POST" action="editDoctor/">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <input type="submit" value="Сохранить изменения">
    </form>
    <h2>Список пациентов на приём:</h2>
    <table>
        <tr><th>Id</th><th>Фамилия</th><th>Имя</th><th>Отчество</th><th>Возраст</th><th>Время записи</th></tr>
        {% for patient in patients %}
        <tr>
            <td>{{ patient.id }}</td>
            <td>{{ patient.surname }}</td>
            <td>{{ patient.name }}</td>
            <td>{{ patient.patronymic }}</td>
            <td>{{ patient.age }}</td>
            <td>{% for ticket in tickets %}{% if ticket.patID == patient.id  %}{{ticket.time}}{% endif %}{% endfor %}</td>
            <td><a href="/takePatient/{{doctor.id}}/{{patient.id}}">Принять</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>