<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Мир здоровья</title>
</head>
<body class="container">
    <h2>Создание пациента:</h2>
    <form method="POST" action="create/">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <input type="submit" value="Сохранить">
    </form>
    {% if patients.count > 0 %}
    <h2>Список пациентов:</h2>
    <table>
        <tr><th>Id</th><th>Фамилия</th><th>Имя</th><th>Отчестов</th><th>Возраст</th></tr>
        {% for patient in patients %}
        <tr>
            <td>{{ patient.id }}</td>
            <td>{{ patient.surname }}</td>
            <td>{{ patient.name }}</td>
            <td>{{ patient.patronymic }}</td>
            <td>{{ patient.age }}</td>
            <td><a href="edit/{{patient.id}}">Изменить</a> | <a href="delete/{{patient.id}}">Удалить</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>
</html>